<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <div class="frontPage">
        <%# this is comment %> 
        <center>Hello my name is<p class="names"><%=name%></p></center>
        <br>
        <br>
        <br>
        <center><a href="/quotes">Click Here</a></center> 
    </div>


    <%- include('./footer');%>
</body>
</html>